.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.dropdown-toggle {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.dropdown-menu.show {
  display: block;
}

@media (max-width: 768px) {
  .dropdown-toggle {
    font-size: 12px;
    padding: 6px 12px;
  }

  .dropdown-menu {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .dropdown-toggle {
    font-size: 12px;
    padding: 6px 12px;
  }

  .dropdown-menu {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .dropdown-toggle {
    font-size: 10px;
    padding: 4px 8px;
  }

  .dropdown-menu {
    width: 100%;
  }
}