<div class="card weather-card" *ngIf="selectedCity">
  <div class="card-body">
    <h3 class="city-name">{{ selectedCity }}</h3>
    <div class="city-image">
      <img [src]="getWeatherImage(getCityWeather(selectedCity))" class="img-fluid rounded" alt="City Image">
    </div>
    <div class="weather-details mt-3">
      <p class="temperature">Temperature: <span>{{ getCityTemperature(selectedCity) }}</span> °C</p>
      <p class="weather">Weather: <span>{{ getCityWeather(selectedCity) }}</span></p>
    </div>
  </div>
</div>