.weather-card {
  flex: 1 1 250px; 
  max-width: 250px; 
  margin: 8px; 
  padding: 15px; 
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  background-color: rgb(255, 255, 255);
}

.city-name {
  font-size: 20px; 
  margin-bottom: 10px;
}

.city-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.weather-details {
  margin-top: 15px;
  max-height: 150px;
  overflow: hidden;
}

.temperature,
.weather {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .weather-card {
    flex: 1 1 100%;
  }
}

@media (max-width: 576px) {
  .weather-card {
    flex: 1 1 100%;
    padding: 8px; 
  }

  .city-name {
    font-size: 15px;
  }
  
  .temperature,
  .weather {
    font-size: 14px; 
  }
}

@media (max-width: 400px) {
  .weather-card {
    flex: 1 1 100%;
    padding: 8px; 
  }
  .weather-details {
    max-height: 100px; 
  }
  .city-name {
    font-size: 14px;
  }
  .temperature,
  .weather {
    font-size: 13px; 
  }
}
